body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.bottle {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 2s ease-out;
}
h1{
    font-size: 20px;
    font-family: gilroy;
    font-weight: 800;
    background:linear-gradient(to right, blue, red );
color: transparent;
-webkit-background-clip: text;}
